<div *ngIf="collectionService.collection.value?.length === 0"
     style="display: flex; justify-content: center; align-items: center; width: 60vw; height: calc(100vh - 90px);">
    <mat-spinner></mat-spinner>
</div>
<div class="tableContainer" *ngIf="collectionService.collection.value.length > 0">
    <table mat-table [dataSource]="collectionService.collection">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox color="primary" (change)="selectAllAlbums($event)"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="selectAlbum($event, row)"
                              [checked]="collectionService.albumIdsToSync.includes(row.id)"
                              color="primary">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="artist">
            <th mat-header-cell *matHeaderCellDef>Artist</th>
            <td mat-cell *matCellDef="let element">{{element.artist}}</td>
        </ng-container>

        <ng-container matColumnDef="album">
            <th mat-header-cell *matHeaderCellDef>Album</th>
            <td mat-cell *matCellDef="let element">{{element.album}}</td>
        </ng-container>

        <ng-container matColumnDef="fileFormat">
            <th mat-header-cell *matHeaderCellDef>File Format</th>
            <td mat-cell *matCellDef="let element">{{element.fileFormat}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="tableColumns, sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns;" (click)="collectionService.selectedAlbum.next(row)"
            [class.selectedAlbum]="row === (collectionService.selectedAlbum | async)"></tr>
    </table>
</div>
