.tableContainer {
    width: 60vw;
    height: calc(100vh - 90px);
    overflow: auto;
}

.mat-column-fileFormat {
    min-width: 125px;
}

tr:hover {
    cursor: pointer;
}

.selectedAlbum {
    background-color: #C8E6C9;
}
